/* You can add global styles to this file, and also import other style files */
.box1{
  height: 400px;
  border: 2px solid #cacaca;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:350px
}
